@import url('https://fonts.googleapis.com/css2?family=Manrope:wgt@400;700&display=swap');

:root {
    font-family: 'Manrope', sans-serif;

    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #e1e1e6c3;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}

#root {
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    background-color: var(--backgrond);
    color: var(--text-color);
}